<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<nav th:fragment="navbar">
	<ul>
		<li><a href="/home">home</a></li>
		<li><a href="/hello">hello</a></li>
		<li><a href="/about">about</a></li>
		<li><a href="/contact">contact</a></li>
		<li><a href="/roll-dice">roll</a></li>

		<li sec:authorize="isAuthenticated()">
			<form th:action="@{/logout}" th:method="post">
				<button class="btn-link btn" style="margin-top: 8px">Logout</button>
			</form>
		</li>
<!--		<li sec:authorize="isAuthenticated()">-->
<!--			<form th:action="@{/sign-up}" th:method="post">-->
<!--				<button class="btn-link btn" style="margin-top: 8px">signup</button>-->
<!--			</form>-->
<!--		</li>-->
	</ul>

<!--	<div sec:authorize="isAuthenticated()">-->
<!--		This content is only shown to authenticated users.-->
<!--		User ID: <span th:text="${#authentication.principal.id}"/>-->
<!--		Username: <span th:text="${#authentication.principal.username}"/>-->
<!--		Email: <span th:text="${#authentication.principal.email}"/>-->
<!--	</div>-->

</nav>